[submodule "libs/simpleini"]
	path = libs/simpleini
	url = https://github.com/brofield/simpleini
[submodule "libs/imgui_toggle"]
	path = libs/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
